---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import AboutMe from "../components/AboutMe.astro";
import Projects from "../components/Projects.astro";
import Contact from "../components/Contact.astro";
import Footer from "../components/Footer.astro";
---

<Layout title="Jeremy Wood">
  <main>
    <Nav />
    <Hero />
    <AboutMe />
    <Projects />
    <Contact />
    <Footer />
  </main>
</Layout>

<style>
  main {
    display: grid;
    grid-template: auto auto auto auto auto auto / 1fr;
  }
</style>
