---

---

<section id="about-section" class="about-me-container">
  <div class="about-me-heading-wrapper">
    <h2 class="about-me-heading">About Me</h2>
  </div>
  <div class="about-me-content-wrapper">
    <p class="about-me-content">
      Thanks for stopping by!<br /> I'm a full stack web developer, problem
      solver, traveler, motorcycle enthusiast, and builder of responsive
      applications. I love learning, and I'm always looking for something new to
      try. That's probably why I find building for the web so exciting. As the
      web and the world around us becomes more complex, we are constanty faced
      with new challenges. But we are also given new ideas, and tools to help
      improve our lives. If you think I can help improve yours, feel free to
      reach out!
    </p>
    <button class="about-me-light">
      <div class="switch-bead"></div>
      <div class="switch-bead"></div>
      <div class="switch-bead"></div>
      <div class="switch-bead"></div>
      <div class="switch-bead"></div>
      <div class="switch-bead"></div>
    </button>
  </div>
  <div class="gradient-container"></div>
</section>
<style>
  .about-me-container {
    min-height: 100vh;
    display: grid;
    grid-template: 4em 9em auto 4em/ 25vw 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
  }

  .about-me-heading-wrapper {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: min(6em, 75%);
    overflow: hidden;
    padding: 0.2em 0 0.2em 0.2em;
    border-radius: 1.5em 0em 0em 1.5em;
    position: relative;
    left: 110%;
    transition: left 0.4s ease-in-out;
  }

  .about-me-heading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20%;
    border-radius: 1em 0em 0em 1em;
    border-width: 0.25em 0 0.25em 0.25em;
    position: relative;
    background: var(--main-background);
  }

  .about-me-heading::before {
    content: "";
    position: absolute;
    width: 200vw;
    height: 200vw;
    left: -25vw;
    right: 0;
    border-radius: 1em 0em 0em 1em;
    background: linear-gradient(
      90deg,
      rgba(var(--main-green), 1) 4%,
      rgba(var(--main-green), 1) 14%,
      rgba(var(--main-purple), 0.8) 18%,
      rgba(var(--main-green), 1) 45%,
      rgba(var(--main-purple), 0.5) 50%,
      rgba(var(--main-green), 1) 56%,
      rgba(var(--main-purple), 0.8) 70%,
      rgba(var(--main-green), 1) 80%,
      rgba(var(--main-purple), 0.5) 90%,
      rgba(var(--main-green), 1) 96%
    );
    z-index: -1;
    animation: spin 20s linear infinite;
  }

  .about-me-heading::after {
    content: "";
    position: absolute;
    width: 200vw;
    height: 200vw;
    left: -25vw;
    right: 0;
    border-radius: 1em 0em 0em 1em;
    background: linear-gradient(
      90deg,
      rgba(var(--main-blue), 0.7) 4%,
      rgba(var(--main-blue), 0.7) 14%,
      rgba(0, 0, 0, 0) 18%,
      rgba(var(--main-blue), 0.7) 45%,
      rgba(0, 0, 0, 0) 50%,
      rgba(var(--main-blue), 0.7) 56%,
      rgba(0, 0, 0, 0) 70%,
      rgba(var(--main-blue), 0.7) 80%,
      rgba(0, 0, 0, 0) 90%,
      rgba(var(--main-blue), 0.7) 96%
    );
    z-index: -1;
    animation: spin 20s linear infinite reverse;
  }

  @keyframes spin {
    33% {
      rotate: 120deg;
    }
    66% {
      rotate: 240deg;
    }
    100% {
      rotate: 360deg;
    }
  }

  .about-me-content-wrapper {
    margin: 0 4em 4em 4em;
    grid-row-start: 3;
    grid-column: 1/ 3;
    position: relative;
    top: 100%;
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.6, 0.3, 0.3, 1.01);
    z-index: 1;
  }

  .about-me-light {
    height: 8em;
    width: 2em;
    background: none;
    position: absolute;
    left: 0;
    bottom: -7em;
    border: none;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 1px;
    z-index: -1;
    cursor: pointer;
  }

  .switch-bead {
    height: 0.7em;
    width: 0.7em;
    background-color: var(--main-text);
    border: 1px solid var(--main-background);
    border-radius: 50%;
    position: relative;
  }

  .about-me-content {
    padding: 2em;
    height: 100%;
    width: 100%;
    position: relative;
    line-height: 1.75em;
    text-indent: 2em;
    font-size: large;
    background: var(--main-background);
    box-shadow:
      0 0 0.1em 5px var(--main-background),
      0 0 0 10px rgb(var(--main-green), 0.5),
      0 0 0.3em 15px var(--main-background),
      0 0 0 20px rgb(var(--main-blue), 0.5),
      0 0 0.4em 25px var(--main-background),
      0 0 0 30px rgb(var(--main-purple), 0.5);
    border-radius: 0.5em;
  }

  .light-up {
    box-shadow:
      0 0 0.1em 5px var(--main-background),
      0 0 0em 10px rgb(var(--main-green), 1),
      0 0 0.3em 15px var(--main-background),
      0 0 0em 20px rgb(var(--main-blue), 1),
      0 0 0.4em 25px var(--main-background),
      0 0 0em 30px rgb(var(--main-purple), 1);
  }

  .gradient-container {
    grid-row: 4 / 5;
    grid-column: 1 / 3;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      0deg,
      var(--main-background) 0%,
      rgba(19, 21, 26, 0) 100%
    );
    z-index: 100;
  }

  .slide-in {
    left: 0%;
  }

  .slide-up {
    opacity: 1;
    top: 0%;
  }

  @media (max-width: 450px) {
    .about-me-content {
      padding: 1em;
      text-indent: 1em;
    }
  }
  @media (max-width: 320px) {
    .about-me-content {
      padding: 0em;
      text-indent: 0.5em;
    }
  }
</style>
<script>
  import {
    beadAnimation0,
    beadAnimation1,
    beadAnimation2,
    beadAnimation3,
    beadAnimation4,
    beadAnimation5,
    contentBlockAnimation,
  } from "./AboutMeAnimations";

  const container = document.querySelector(".about-me-container");
  const containerPosition = container.offsetTop;
  const aboutHeader = document.querySelector(".about-me-heading-wrapper");
  const aboutContentWrapper = document.querySelector(
    ".about-me-content-wrapper"
  );
  const aboutContent = aboutContentWrapper.children[0];
  const lightSwitch = document.querySelector(".about-me-light");

  lightSwitch.addEventListener("click", turnOnLight);

  function turnOnLight() {
    if (aboutContent.classList.contains("light-up")) {
      animateSwitch();
      aboutContent.classList.remove("light-up");
    } else {
      animateSwitch();
      aboutContent.classList.add("light-up");
    }
  }

  function animateSwitch() {
    aboutContentWrapper.animate(contentBlockAnimation, 1000);
    lightSwitch.children[0].animate(beadAnimation0, 1000);
    lightSwitch.children[1].animate(beadAnimation1, 1000);
    lightSwitch.children[2].animate(beadAnimation2, 1000);
    lightSwitch.children[3].animate(beadAnimation3, 1000);
    lightSwitch.children[4].animate(beadAnimation4, 1000);
    lightSwitch.children[5].animate(beadAnimation5, 1000);
  }

  function animateIn() {
    const midpoint = window.scrollY + window.innerHeight / 2;
    if (containerPosition < midpoint) {
      aboutHeader.classList.add("slide-in");
      aboutContentWrapper.classList.add("slide-up");
    }
  }

  window.addEventListener("onLoad", animateIn);
  window.addEventListener("scroll", animateIn);
</script>
