---
---

<div class="about-me-container">
  <h2 id="about-section" class="about-me-heading">About Me</h2>
  <p class="about-me-content">
    I'm a full stack web developer, problem solver, and builder of
    responsive web applications. I love learning and implementing new
    technologies, and I'm forever a student of tech. The web is one of the
    most exciting platforms ever created, and I use it to build performant
    and inclusive projects that enrichen and better people's lives. When I'm
    not coding, I enjoy travelling and fixing motorcycles!
  </p>
</div>
<style>
  .about-me-container {
    min-height: 100vh;
    display: grid;
    grid-template: 4em 9em auto / 25vw 1fr;
    text-align: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .about-me-heading {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    align-self: flex-start;
    padding-left: 20%;
    grid-column-start: 2;
    grid-row-start: 2;
    width: 100%;
    height: 5em;
    border-radius: 1em 0em 0em 1em;
    border: solid rgb(16, 0, 236);
    border-width: .5em 0 .5em .5em;
    position: relative;
    left: 100%;
    transition: left 0.4s ease-in-out;
    background: #13151a;
  }

  .about-me-heading::before{
    content: '';
    position: absolute;
    top: -.6em;
    left: -.6em;
    bottom: -.6em;
    right: 0;
    padding: 1em;
    border-radius: 1em 0em 0em 1em;
    background-color: rgb(0, 236, 181);
    z-index: -1;
  }

  .about-me-content {
    margin: 0 4em 0 4em;
    padding: 4em;
    grid-row-start: 3;
    grid-column: 1/ 3;
    border-style: solid;
    border-width: 0.25em;
    border-color: rgb(169, 87, 241, 0.7);
    border-radius: 1em;
    position: relative;
    top: 100%;
    opacity: 0;
    transition: all 1.5s cubic-bezier(0.6, 0.3, 0.3, 1.01);
    line-height: 1.5em;
    text-indent: 2em;
    font-size: large;
    background: #13151a;
  }


  .about-me-content::before{
    content: '';
    margin: -1em;
    position: absolute;
    top: .2em;
    bottom: .2em;
    right: .2em;
    left: .2em;
    border-radius: 1em;
    border: 5px solid  rgb(0, 236, 181,.7);
    z-index: -1;
  }

  .about-me-content::after{
    content: '';
    margin: -1em;
    position: absolute;
    top: -.4em;
    bottom: -.4em;
    right: -.4em;
    left: -.4em;
    border-radius: 1em;
    border: 5px solid rgb(16, 0, 236, .5);
    z-index: -1;
  }

  .slide-right {
    left: 0%;
  }

  .slide-up {
    opacity: 1;
    top: 0%;
  }
</style>
<script>
  window.addEventListener("onLoad", animateIn);
  window.addEventListener("scroll", animateIn);

  const header = document.querySelector(".about-me-heading");
  const headerPos = header.offsetTop;
  const aboutContent = document.querySelector(".about-me-content");

  function animateIn() {
    let windowPos = window.scrollY;
    if (headerPos < windowPos + 400) {
      header.classList.add("slide-right");
      aboutContent.classList.add("slide-up");
    }
  }
</script>
