---
const { image, link } = Astro.props;
---

<div class="contact-card">
  <a href={link}>
  <img src={image.src}/>
</a>
</div>

<style>
  .contact-card {
    width: 80%;
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: .9;
  }

  .contact-card img{
    width: min(100%, 200px);
  }
</style>