---

---

<footer class="footer">
  <div class="footer-content-wrapper">
    <div class="footer-background"></div>
    <p>Jeremy Wood - 2025</p>
  </div>
</footer>
<style>
  footer {
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5em 0 2.25em 0;
  }

  .footer-content-wrapper {
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }

  .footer-background {
    width: 200%;
    height: 200vh;
    background: radial-gradient(
      ellipse farthest-corner at 25% 0%,
      rgb(var(--main-purple)) 0%,
      var(--main-background) 17%,
      rgb(var(--main-purple)) 34%,
      var(--main-background) 50%,
      rgb(var(--main-purple)) 66%,
      var(--main-background) 83%,
      rgb(var(--main-purple)) 100%
    );
    animation: spin-background 20s linear infinite;
    transform: rotate(0deg);
  }

  .footer p {
    background: var(--main-background);
    height: 1.5em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
  }

  @keyframes spin-background {
    100% {
      transform: rotate(360deg);
    }
  }
</style>
