---
---

<div class="footer"><p>Jeremy Wood - 2023</p></div>
<style>
  .footer {
    height: 4em;
    display: flex;
    justify-cont`ent: center;
    align-items: center;
    padding: 5em 0 2.25em 0;
  }

  .footer p {
    border: 1px solid rgb(var(--main-purple));
    height: 2em;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
