---
import headshot from "../images/bust.png";
---

<div class="hero-component">
  <img class="hero-image" src={headshot} />
</div>
<style>
  .hero-component {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: calc(100vh - 4em);
    overflow-x: hidden;
  }

  .hero-image {
    max-width: 75%;
    max-height: 70%;
    border: 0.5em solid rgb(16, 0, 236);
    border-radius: 50%;
    transform: translateX(200%) rotate(180deg);
    animation: rollin 3s forwards 1s;
  }

  @keyframes rollin {
    0% {
      transform: translateX(200%) rotate(180deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: translateX(0);
    }
  }
</style>
