---
import headshot from "../assets/bust.png";
---

<section class="hero-component">
  <div class="animation-wrapper">
    <div class="hero-image-wrapper">
      <img
        class="hero-image"
        src={headshot.src}
        alt="Portrait of Jeremy Wood"
      />
    </div>
  </div>
  <div class="arrow-container">
    <div class="arrow-wrapper">
      <div class="left arrow"></div>
    </div>
    <div class="arrow-wrapper"><div class="right arrow"></div></div>
  </div>
</section>
<style>
  .hero-component {
    display: grid;
    flex-flow: column nowrap;
    justify-items: center;
    align-items: end;
    grid-template: 75% 25% / 100%;
    height: 100vh;
    min-height: 100vh;
    overflow-x: hidden;
    width: 100vw;
  }

  .animation-wrapper {
    /* max-width: 75%;
    max-height: 75%; */
    width: 75%;
    height: 75%;
    transform: translateX(300%) rotate(180deg);
    animation: rollin 2s forwards 0.8s;
    visibility: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    /* aspect-ratio: 1 / 1; */
  }

  .hero-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;
    /* transform: translateX(300%) rotate(180deg);
    animation: rollin 2s forwards 0.8s; */
    /* visibility: hidden; */
    aspect-ratio: 1 / 1;
    background: radial-gradient(
      ellipse farthest-corner at 0% 0%,
      rgba(var(--main-blue), 0.5) 5%,
      rgba(var(--main-purple), 0.7) 35%,
      rgba(var(--main-green), 0.9) 50%,
      rgba(var(--main-purple), 1) 65%,
      rgba(var(--main-blue), 1) 90%
    );
  }

  .hero-image {
    background-color: var(--main-background);
    border-radius: 50%;
    height: 98%;
    width: 98%;
  }

  @keyframes rollin {
    0% {
      transform: translateX(300%) rotate(179deg);
    }
    50% {
      transform: rotate(360deg);
    }
    100% {
      transform: translateX(0);
      visibility: visible;
    }
  }

  .arrow-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    height: 100%;
    width: min(50vw, 500px);
    align-items: center;
    justify-content: center;
    overflow: hidden;
    opacity: 0;
    animation: arrow-flash 3s linear 2.5s forwards;
  }

  .arrow-wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .arrow {
    width: 100%;
    height: 0.3em;
    background-color: var(--main-text);
  }

  .left {
    transform: skew(15deg) rotate(15deg);
    border-radius: 2% 0 0 100%;
  }

  .right {
    transform: skew(345deg) rotate(345deg);
    border-radius: 0 2% 100% 0;
  }

  @keyframes arrow-flash {
    0% {
      opacity: 0;
    }
    20% {
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    60% {
      opacity: 1;
    }
    80% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }

  @media (max-width: 300px) {
    .hero-component {
      height: calc(100vh - 8em);
    }
  }

  @media (max-height: 450px) {
    .animation-wrapper {
      max-height: 70%;
    }
  }

  @media (max-height: 420px) {
    .animation-wrapper {
      max-height: 60%;
    }
  }

  .hide {
    /* transform: translateX(-9999px); */
  }
</style>
<script>
  const heroComponent = document.querySelector(".hero-component");
  const heroImage = document.querySelector(".hero-image-wrapper");

  function dragHero(ev) {
    console.log("EV:", ev);
    heroImage.classList.add("hide");
    // ev.target.classList.add("hide");
  }

  heroImage.addEventListener("dragstart", (ev) => dragHero(ev));
  // drag event on whole element

  // drop event covering whole page?
</script>
