---
import headshot from "../images/bust.png";
---

<div class="hero-component">
  <!-- <div class="animate"> -->
  <img class="hero-image" src={headshot} />
  <!-- </div> -->
</div>
<style>
  .hero-component {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    padding: 20px;
    height: calc(100vh - 4em);
    border: 2px solid red;
  }

  /* div.animate {
    max-width: 75%;
    max-height: 70%;
    animation: rollin 3s ease-in forward;
    position: absolute; 
  } */

  .hero-image {
    max-width: 75%;
    max-height: 70%;
    border: 0.5em solid rgb(16, 0, 236);
    border-radius: 50%;
    /* animation-name: rollin;
    animation-duration: 2s;
    animation-fill-mode: forwards; */
    position: absolute;
    transition: left 2s;
    left: 0;
    transform: translate(-50%, 0);

    /* animation: 2s ea`se-in forward; */
  }

  /* @keyframes rollin {
    0% {
      align-self: flex-start;
    }
    100% {
      align-self: flex-end;
    }
  } */
</style>
