---
---

<div class="project-card-wrapper">Project Card</div>

<style>
  .project-card-wrapper {
    border: 2px dashed blue;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
</style>
