---
import ProjectCard from "./ProjectCard.astro";
import {picSure, flavorTown, coffeeTalk} from "./ProjectData";
---

<div class="projects-container">
  <h2 class="project-header">Projects</h2>
  <div class="project-wrapper"><ProjectCard data={coffeeTalk}/></div>
  <div class="project-wrapper"><ProjectCard data={flavorTown}/></div>
  <div class="project-wrapper"><ProjectCard data={picSure}/></div>
</div>
<style>
  .projects-container {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12em auto;
    align-items: center;
    justify-items: center;
  }

  .project-header {
    grid-column: 1/4;
    display: flex;
    align-items: center;``
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease-out;
  }

  .project-wrapper {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    border: 1px solid rgb(0, 236, 181);
    border-radius: 1em;
    transition: opacity 0.4s ease-out 0.4s;
    padding: 2px;
  }

  .card-two {
    transition-delay: 0.6s;
  }

  .card-three {
    transition-delay: 0.8s;
  }

  .pop-in {
    opacity: 1;
  }
</style>
<script>
  window.addEventListener("onLoad", animateIn);
  window.addEventListener("scroll", animateIn);

  const projectElements = document.querySelector(
    ".projects-container"
  ).children;
  const projectPos = projectElements[0].offsetTop;

  function animateIn() {
    const windowPos = window.scrollY;
    if (windowPos > projectPos - 400) {
      projectElements[0].classList.add("pop-in");
      projectElements[1].classList.add("pop-in");
      projectElements[2].classList.add("pop-in", "card-two");
      projectElements[3].classList.add("pop-in", "card-three");
    }
  }
</script>
