---
import ProjectCard from "./ProjectCard.astro";
import {picSure, flavorTown, coffeeTalk} from "./ProjectData";
---

<div  class="projects-container">
  <div class="project-header-wrapper-one">
    <div class="project-header-wrapper-two">
      <h2 id="project-section" class="project-header">Projects</h2>
    </div>
  </div>
  <div class="project-wrapper "><ProjectCard data={coffeeTalk}/></div>
  <div class="project-wrapper card-two"><ProjectCard data={flavorTown}/></div>
  <div class="project-wrapper card-three"><ProjectCard data={picSure}/></div>
</div>
<style>
  .projects-container {
    min-height: 80vh;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 12em auto;
    align-items: center;
    justify-items: center;
    overflow: hidden;
    z-index: 1;
  }

  .project-header-wrapper-one{
    grid-column: 1/4;
    opacity: 0;
    animation: slap-in 3s forwards;
    transition: opacity 0.4s ease-out;
    background-color: rgb(0, 236, 181);
    width: 15em;
    height: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(-4deg);
    clip-path: polygon(20% 9%, 96% 6%, 93% 70%, 100% 100%, 43% 94%, 1% 93%, 8% 45%, 4% 5%);
  }
  
  .project-header-wrapper-two{
    background-color: rgb(16, 0, 236);
    width: 12em;
    height: 2.5em;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: rotate(2deg);
    clip-path: polygon(0 1%, 100% 0, 94% 17%, 100% 82%, 78% 56%, 100% 100%, 0 100%, 2% 69%, 0 20%, 11% 21%);
    text-align: center;
  }
  .project-header {
    transform: rotate(2deg);
    text-shadow: .06em .06em 1px black, -.06em -.06em 1px black, .06em -.06em 1px black, -.06em .06em 1px black;
  }

  .project-wrapper {
    width: 80%;
    height: 20em;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition: opacity 0.4s ease-out 0.4s, position 1s ease-in;
    grid-column: 1 / 2;
  }

  .card-two {
    transition-delay: 0.6s;
    grid-column: 2 / 3;
  }

  .card-three {
    transition-delay: 0.8s;
    grid-column: 3 / 4;
  }

  .pop-in {
    opacity: 1;
  }

  .enlarge{
    position: fixed;
    top: 20%;
    height: 60vh;
    max-width: 60%;
    background-color: black;
  }

  .enlarge::before{
    content: '';
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgb(0,0,0,.4);
    z-index: -1;
  }

  .enlarge::after{
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    animation: provide-fade .3s ease-out .02s forwards;
    z-index: 2;
    margin: -1px;
    background: black;
    border: 1px solid black;
    border-radius: 1em;
  }

  @keyframes provide-fade {
    0%{
      opacity: 1;
      background: black;
    }
    100% {
      opacity: 0;
      display: none;
    }
  }
  
</style>
<script>
  const projectElements = document.querySelector(
    ".projects-container"
  ).children;
  const projectPos = projectElements[0].offsetTop;

  function animateIn() {
    const windowPos = window.scrollY;
    if (windowPos > projectPos - 400) {
      projectElements[0].classList.add("pop-in");
      projectElements[1].classList.add("pop-in");
      projectElements[2].classList.add("pop-in");
      projectElements[3].classList.add("pop-in");
    }
  }

  window.addEventListener("onLoad", animateIn);
  window.addEventListener("scroll", animateIn);


  const projectCards = [projectElements[1], projectElements[2], projectElements[3]]
  projectCards.forEach(card => card.addEventListener("click", (e) => expandContractCard(e)))

function expandContractCard(e){
  const featureList = e.currentTarget.children[0].children[0].children[3]
  if(e.currentTarget.classList.contains("enlarge")){
    featureList.classList.remove("show")
    e.currentTarget.classList.remove("enlarge")
  } else {
    e.currentTarget.classList.add("enlarge")
    featureList.classList.add("show")
  }
}
</script>
