---
---

<h2 class="card">Project Card</h2>

<style>
  .card {
    border: 1px solid blue;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
