---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jeremy Wood Portfolio" />
    <!-- <meta name="viewport" content="width=device-width" /> -->
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />

    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --main-green: 0, 236, 181;
    --main-purple: 169, 87, 241;
    --main-blue: 16, 0, 236;
    --background-black: #13151a;
    --background-white: hsl(244,100%, 99%);
    --text-black: #13151a;
    --text-white:hsl(244,100%, 99%);
  }
  * {
    box-sizing: border-box;
    margin: 0;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--background-black);
    color: white;
    line-height: 125%;
    scroll-behavior: smooth;
  }
  @media (prefers-color-scheme: dark){
    html {
      color: var(--text-white);
      background: var(--background-black);
    }
    .nav-link{
      color: var(--text-white);
    }
  }
  @media (prefers-color-scheme: light){
    html {
      color: var(--text-black);
      background: var(--background-white);
    }
    .nav-link{
      color: var(--text-black);
      background: var(--background-white);
    }
  }
  /* code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  } */
</style>
