---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jeremy Wood Portfolio" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --main-green: 0, 236, 181;
    --main-purple: 169, 87, 241;
    --main-blue: 16, 0, 236;
    --background-black: #13151a;
  }
  * {
    box-sizing: border-box;
    margin: 0;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--background-black);
    color: white;
    line-height: 125%;
    scroll-behavior: smooth;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
