---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Jeremy Wood Portfolio" />
    <meta name="viewport" content="width=device-width,initial-scale=1, maximum-scale=1" />
    <link rel="icon" href="/favicon.ico" />
    <title>{title}</title>
  </head>
  <body>
    <slot />
  </body>
</html>
<style is:global>
  :root {
    --main-green: 0, 236, 181;
    --main-purple: 169, 87, 241;
    --main-blue: 16, 0, 236;
    --main-background: #13151a;
    --main-text:hsl(244,100%, 99%);
  }
  :root.dark{
    --main-background: #13151a;
    --main-text:hsl(244,100%, 99%);
    --main-highlight: 0, 236, 181;
  }
  @media (prefers-color-scheme: dark){
    :root {
      --main-background: #13151a;
      --main-text:hsl(244,100%, 99%);
      --main-highlight: 0, 236, 181;
    }
  }
  :root.light{
    --main-background: hsl(244,40%, 97%);
    --main-text: #13151a;
    --main-highlight: 16, 0, 236;
  }
  @media (prefers-color-scheme: light){
    :root {
      --main-background: hsl(244,40%, 97%);
      --main-text: #13151a;
      --main-highlight: 16, 0, 236;
    }
  }
  * {
    box-sizing: border-box;
    margin: 0;
  }
  html {
    font-family: system-ui, sans-serif;
    background: var(--main-background);
    color: var(--main-text);
    line-height: 125%;
    scroll-behavior: smooth;
  }
  /* code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  } */
</style>
